<div class="archives">
    <% if (is_category()) { %> 
        <div class="header">
        <span class="iconfont icon-folder"></span>
        <div class="explain">
            <%= page.category %>
        </div>
    </div>
    <% } %>
    <% if (is_tag()) { %> 
        <div class="header">
        <span class="iconfont icon-tag1"></span>
        <div class="explain">
            <%= page.tag %>
        </div>
        </div>
    <% } %>
<% var last; %>
<% page.posts.each(function(post, i){ %>
<% var year = post.date.year(); %>
<% if (last != year){ %>
<% if (last != null){ %>
</div>
</section>
<% } %>
<% last = year; %>
<section class="wrap">
    <div class="meta">
        <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="archive-meta">
            <%= year %>
        </a>
    </div>
    <div class="year">
        <% } %>
        <article class="item">
            <% let bg = post.photos && post.photos[0] || ''%>
            <% if (bg) { %>
            <div class="photo">
                <a
                    href="<%- url_for(post.path) %>"
                    class="photo"
                    title="<%= post.title %>"
                    style="background-image: url( '<%= bg %>' )"
                ></a>
            </div>
            <% }%>
            <div class="content">
                <div class="title">
                    <a  href="<%- url_for(post.path) %>">
                        <%= post.title %>
                    </a>
                </div>
                <div class="meta">
                    <span class="meta-item">
                        <span class="iconfont icon-time-circle"></span>
                        <span><%- date(page.date, "YYYY/MM/DD") %></span>
                    </span>
                    <% if (page.categories) { %> 
                    <span class="meta-item">
                        <span class="iconfont icon-folder"></span>
                        <span>
                            <% for (var j=0; j < page.categories.data.length; j++) { %>
                                <% if (page.categories.data[j] && page.categories.data[j].name) { %>
                                <a href="/categories/<%- page.categories.data[j].name %>"><%- page.categories.data[j].name %></a>
                                <% } %>
                            <% } %>
                        </span>
                    </span>
                    <% } %>

                    <% if (page.tags) { %> 
                    <span class="meta-item">
                        <span class="iconfont icon-tag1"></span>
                        <span>
                            <% for (var j=0; j < page.tags.data.length; j++) { %>
                                <% if (page.tags.data[j] && page.tags.data[j].name) { %>
                                <a href="/tags/<%- page.tags.data[j].name %>"><%- page.tags.data[j].name %></a>
                                <% } %>
                            <% } %>
                            
                        </span>
                    </span>
                    <% } %>
                </div>
            </div>
        </article>
        <% }) %>
        <% if (page.posts.length){ %>
    </div>
</section>
<% } %>
  

  <div class="paginator">
        <%- paginator({ prev_text: '<', next_text: '>', prev_next: false }) %>
  </div>
</div>
