<div id="categories">
  <div class="title">
    <%= __('categories') %>
  </div>

  <% if (site.categories.length) { %>
  <div class="list">
    <% site.categories.sort('name').each(function(item, key) { %> <% if(item.posts.length) { %>
    <li class="<%= item.name %> <%= key === 0 ? 'active' : '' %>">
      <span><%= item.name %><sup><%= item.posts.length %></sup></span>
    </li>
    <% } %> <% }) %>
  </div>
  <% if (site.categories.length) { %>
  <div class="post-wrap">
    <% site.categories.sort('name').each(function(cate, key) { %> <% if (cate.posts.length) { %>
    <div class="post <%= cate.name %> <%= key === 0 ? 'active' : '' %>">
      <% cate.posts.sort('date').each(function (post) {%>
      <li>
        <a href="<%- url_for(post.path) %>" title="<%= post.title %>">
          <span><%= date(post.date, "YYYY/MM/DD") %></span>
          <span><%= post.title %></span>
        </a>
      </li>
      <% }) %>
    </div>
    <% } %> <% }) %>
  </div>
  <% } %> <% } %>
</div>
