<% if (is_home()){ %>
<div class="posts">
  <ul>
    <% page.posts.each(function (post, key) { %> <% let bg = post.photos &&
    post.photos[0] || ''%>
    <li class="item">
      <% if (bg) { %>
      <a
        href="<%- url_for(post.path) %>"
        class="photo"
        title="<%= post.title %>"
        style="background-image: url( <%= bg %> )"
      ></a>
      <% }%>
      <div class="describe">
        <div class="title">
          <a href="<%- url_for(post.path) %>"><%= post.title %></a>
        </div>
        <div class="date">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-calendar"></use>
          </svg>
          <%- date(page.date, "YY/MM/DD") %>
        </div>
        <% if (post.excerpt) { %>
        <div class="excerpt post-wrap"><%- post.excerpt %></div>
        <% }%>
        <div class="more">
          <div class="l">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-share"></use>
            </svg>
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-comment"></use>
            </svg>
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-heart"></use>
            </svg>
          </div>
          <div class="r">
            <a href="<%- url_for(post.path) %>">Read More</a>
          </div>
        </div>
      </div>
    </li>
    <% })%>
  </ul>
</div>
<% }%>
<div class="paginator">
  <%- paginator({ prev_text: '<', next_text: '>', prev_next: false }) %>
</div>
