<% if (is_home()){ %>
<div class="posts">
  <ul>
    <% page.posts.each(function (post, key) { %> <% let bg = post.photos && post.photos[0] || ''%>
    <li class="item">
      <% if (bg) { %>
      <div class="bg">
        <a
          href="<%- url_for(post.path) %>"
          class="photo"
          title="<%= post.title %>"
          style="background-image: url( <%= bg %> )"
        ></a>
      </div>
      <% }%>
      <div class="describe">
        <div class="title">
          <a href="<%- url_for(post.path) %>"><%= post.title %></a>
        </div>
        <div class="date">
          <span class="iconfont icon-time-circle"></span>
          <span><%- date(post.date, "YY/MM/DD") %></span>
        </div>
        <% if (post.excerpt) { %>
        <div class="excerpt post-wrap"><%- post.excerpt %></div>
        <% }%>
        <div class="meta">
          <div class="l">
            <div class="warp">
              <% if (post.categories) { %>
              <span class="iconfont icon-folder"></span>
              <span class="desp">
                <% for (var j=0; j < post.categories.data.length; j++) { %> <% if
                (post.categories.data[j] && post.categories.data[j].name) { %>
                <a href="/categories/<%- post.categories.data[j].name %>"
                  ><%- post.categories.data[j].name %></a
                >
                <% } %> <% } %>
              </span>
              <% } %>
            </div>

            <% if (post.tags) { %>
            <div class="warp">
              <span class="iconfont icon-tag1"></span>
              <span class="desp">
                <% for (var i=0; i < post.tags.data.length; i++) { %> <% if (post.tags.data[i] &&
                post.tags.data[i].name) { %>
                <a href="/tags/<%- post.tags.data[i].name %>"><%- post.tags.data[i].name %></a>
                <% } %> <% } %>
              </span>
            </div>
            <% } %>
            <div class="warp">
              <div class="share" data-url="<%- url_for(post.path) %>">
                <span class="iconfont icon-share"></span>
              </div>
              <div class="desp share" data-url="<%- url_for(post.path) %>">
                <a href="javascript:void(0);">分享</a>
              </div>
            </div>
          </div>
          <div class="r">
            <a href="<%- url_for(post.path) %>">Read More</a>
          </div>
        </div>
      </div>
    </li>
    <% })%>
  </ul>
</div>
<% }%>
<div class="paginator">
  <%- paginator({ prev_text: '<', next_text: '>', prev_next: false }) %>
</div>
