<% if (is_home()){ %>
<section class="card">
  <% page.posts.each(function (post, key) { %>
  <div class="card-wrap">
    <div class="card-img"></div>
    <div class="card-content">
      <div class="card-title">
        <a href="<%- url_for(post.path) %>">
          <%= post.title %>
        </a>
      </div>
      <div class="card-date">
        <a href="<%- url_for(post.path) %>">
          <%- date(post.date, "YYYY-MM-DD") %>
        </a>
      </div>
    </div>
  </div>
  <% })%>
</section>
<% }%>
<div class="paginator">
  <%- paginator({ prev_text: 'Prev', next_text: 'Next' }) %>
</div>
