<% if (is_home()){ %> <% page.posts.each(function (post, key) { %>
<section class="list">
  <div class="wrap">
    <% if (key % 2 === 0){ %>
    <div class="l">
      <div class="date diagonal"><%- date(post.date, "YYYYMMDD") %></div>
      <a href="<%- url_for(post.path) %>">
        <figure
          style="background: url('../pic/1.jpg') no-repeat 50% 50% / 100%"
        ></figure
      ></a>
    </div>
    <div class="r">
      <div class="title">
        <%= post.title %>
      </div>
      <div class="classify">
        <%- list_categories(post.categories, { show_count: false, class:
        'category', depth: '-1' }) %> <%- list_tags(post.tags, { show_count:
        false, class: 'tag' }) %>
      </div>
      <p class="sub">
        <%= post.abstract %>
      </p>
      <div class="more diagonal">
        <a href="<%- url_for(post.path) %>">
          <p>More details &nbsp;&nbsp; +</p>
          <img src="../svg/underline.svg" alt="" />
        </a>
      </div>
    </div>

    <% }) %>
  </div>
</section>
<% }) %>
<div class="paginator">
  <%- paginator({ prev_text: __('prev'), next_text: __('next') }) %>
</div>
<% } %>
