<% if (is_home()){ %>
<div class="posts">
  <% let array = [1,2,3,4,5,6,7,8,9,10]; array.sort(function() { return (0.5 -
  Math.random()); }) %>
  <ul>
    <% page.posts.each(function (post, key) { %>
    <li class="item">
      <div
        class="photo"
        style="background-image: url('https://blog.zhangruipeng.me/hexo-theme-icarus/gallery/thumbnails/flower.jpg')"
      ></div>
      <div class="describe">
        <div class="title">
          <a href="<%- url_for(post.path) %>"><%= post.title %></a>
        </div>
        <div class="date">
          <i class="icon-calendar"></i> <%- date(page.date, "YY/MM/DD") %>
        </div>
        <div class="excerpt post-wrap"><%- post.excerpt %></div>
        <div class="more">
          <div class="l">
            <i class="icon-share"></i>
            <i class="icon-comment"></i>
            <i class="icon-heart"></i>
          </div>
          <div class="r">
            <a href="<%- url_for(post.path) %>">Read More</a>
          </div>
        </div>
      </div>
    </li>
    <% })%>
  </ul>
</div>
<% }%>
<div class="paginator">
  <%- paginator({ prev_text: '<', next_text: '>', prev_next: false }) %>
</div>
