<% if (is_home()){ %> <% let array = [1,2,3,4,5,6,7,8,9,10];
array.sort(function() { return (0.5 - Math.random()); }) %>
<section class="card">
  <% page.posts.each(function (post, key) { %>
  <div class="card-wrap">
    <div
      class="card-img"
      style="background-image: url('/images/<%= array[key] %>.jpg')"
    >
      <div class="card-shadow">
        <a href="<%- url_for(post.path) %>" class="btn">
          <img src="/svg/eye-fill.svg" alt="" class="svg" />
        </a>
        <a href="<%- url_for(post.path) %>" class="btn">
          <img src="/svg/heart-fill.svg" alt="" class="svg" />
          <!-- <embed
            class="svg"
            src="/svg/heart.svg"
            type="image/svg+xml"
            pluginspage="http://www.adobe.com/svg/viewer/install/"
          /> -->
        </a>
      </div>
    </div>
    <a href="<%- url_for(post.path) %>" class="card-img"></a>
    <div class="card-content">
      <div class="card-title">
        <a href="<%- url_for(post.path) %>">
          <%= post.title %>
        </a>
      </div>
      <div class="card-date">
        <a href="<%- url_for(post.path) %>">
          <%- date(post.date, "YYYY-MM-DD") %>
        </a>
      </div>
    </div>
  </div>
  <% })%>
</section>
<% }%>
<div class="paginator">
  <%- paginator({ prev_text: 'Prev', next_text: 'Next' }) %>
</div>
