<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="baidu-site-verification" content="vvVgSQUzPU" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="keywords" content="虎虎|博客|个人|utone|Utone|" />
    <meta name="description" content="骑士恨煎蛋，骑士恨孜然" />
    <title> </title>
    <%- css('style/style') %>
  </head>
  <body>
    <div class="header-bg"></div>
    <header>
      <div class="logo">utone</div>
      <ul>
        <% for (let i in theme.menu) { %>
        <li><a href="<%- url_for(theme.menu[i]) %>"> <%= __(i) %> </a></li>
        <% } %>
      </ul>
    </header>
    <div class="banner">
      <div class="bg"></div>
      <% if (is_post()){ %>
      <div class="post-content">
        <div class="title">
          <%- page.title %>
          <div class="date"><%- date(page.date, "YYYY/MM/DD") %></div>
        </div>
      </div>
      <div class="post-actions">
        <div>12312</div>
      </div>
      <% } %>
    </div>
    <div class="container">
      <%- body %>
    </div>
    <footer>
      <div class="products">
        <div class="l">
          <div class="title">Friendship</div>
          <ul>
            <li><a href="">Wireframe Kits</a></li>
            <li><a href="">Wireframe Kits</a></li>
            <li><a href="">Wireframe Kits</a></li>
            <li><a href="">Wireframe Kits</a></li>
            <li><a href="">Wireframe Kits</a></li>
            <li><a href="">Wireframe Kits</a></li>
            <li><a href="">Wireframe Kits</a></li>
          </ul>
        </div>
        <div class="r">
          <div class="title">Follow me</div>
          <ul>
            <li><a href="">Wireframe Kits</a></li>
            <li><a href="">Wireframe Kits</a></li>
            <li><a href="">Wireframe Kits</a></li>
            <li><a href="">Wireframe Kits</a></li>
            <li><a href="">Wireframe Kits</a></li>
            <li><a href="">Wireframe Kits</a></li>
            <li><a href="">Wireframe Kits</a></li>
          </ul>
        </div>
      </div>
      <div class="statist">
        <ul>
          <li>
            <div>206,911</div>
            <div>Members</div>
          </li>
          <li>
            <div>206,911</div>
            <div>Members</div>
          </li>
          <li>
            <div>206,911</div>
            <div>Members</div>
          </li>
        </ul>
      </div>
      <div class="copyright">
        <div class="l">
          © 2019, UI8 LLC.
        </div>
      </div>
      <main>
        <%- body %>
      </main>
      <footer>1231</footer>
    </div>
  </body>
</html>
<%- js('scripts/header.js') %>
<!-- <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script> -->
