<!DOCTYPE html>
<html>
  <head>
    <%- gtm() %> <%- google_adsense() %> <%- baidu_tongji() %> <%- verification() %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="<%= config.keywords %>" />
    <meta name="description" content="<%= config.description%>" />
    <% let title = page.title; if (is_archive()) { title = __('archives') } if (is_month()) { title += page.year + '/' +
    page.month; } else if (is_year()) { title += page.year; } else if (is_current('categories')) { title =
    __('categories'); } else if (is_current('tags')) { title = __('tags'); } else if (is_current('friends')) { title =
    __('friends'); } %>
    <title>
      <% if (title) { %><%= title %><% } else { %> <%= config.subtitle %> <% }%> <%= title || config.subtitle ? '-' : ''
      %> <%= config.title %>
    </title>
    <link rel="manifest" href="/manifest.json" />
    <link rel="shortcut icon" href="<%= theme.favicon %>" type="image/x-icon" />
    <%- css('style/style') %>
  </head>
  <body>
    <canvas id='pagemap'></canvas>
    <% if (page.content && !is_current('about') && toc(page.content, {list_number: false})) { %>
    <div id="post-toc" class="animated hiddenToc hide">
      <span class="title">Toc</span>
      <%- toc(page.content, {list_number: false}) %>
    </div>
    <% } %>
    <div id="fixed-menu-wrap">
      <span class="iconfont icon-sousuo search-box menu-reset"></span>
      <span class="icon-toc menu-reset">Toc</span>
      <span class="iconfont icon-arrowup menu-reset"></span>
    </div>
    <div id="fixed-menu">
      <span class="iconfont icon-menu-"></span>
    </div>
    <div id="progress">
      <div class="line"></div>
    </div>
    <div id="search-shade" class="animated hiddenSearch hide">
      <div class="input-wrap">
        <span class="iconfont icon-sousuo search-box"></span>
        <input type="text" placeholder="Search" />
        <span class="iconfont icon-close"></span>
      </div>
      <div class="search-result">
        <div class="meta">
          <span><b id="result-count">0</b> results found</span>
          <img src="/images/logo.jpeg" />
        </div>
        <ul id="result-box"></ul>
      </div>
    </div>
    <div id="menu-mask" class="animated hideMenuMask hide">
      <span class="iconfont icon-close"></span>
      <div class="nav">
        <% for (var i in theme.menu){ %>
        <a href="<%- url_for(theme.menu[i]) %>" class="<%= is_current(theme.menu[i]) ? 'current' : '' %>">
          <%= __(i) %>
        </a>
        <% } %>
      </div>
    </div>
    <div id="header">
      <div class="intro">
        <a href="/" class="logo" style="background-image: url('/images/logo.jpeg')"></a>
        <div class="author"><%= theme.author%></div>
      </div>
      <div class="nav">
        <span class="iconfont icon-menu menu-icon"></span>
        <a href="#" class="search-box">
          <span class="iconfont icon-sousuo"></span>
        </a>
      </div>
    </div>
    <div id="side" class="animated bounceInLeft">
      <div class="shrink">
        <a href="/" class="logo" style="background-image: url('/images/logo.jpeg')"></a>
        <span class="iconfont icon-menu toggle-icon"></span>
        <a href="#" class="search-box">
          <span class="iconfont icon-sousuo"></span>
        </a>
      </div>
      <div class="magnify">
        <div class="about">
          <div class="author"><%= theme.author%></div>
          <a href="/" class="logo" style="background-image: url('/images/logo.jpeg')"></a>
        </div>

        <div class="nav">
          <% for (var i in theme.menu){ %>
          <a href="<%- url_for(theme.menu[i]) %>" class="<%= is_current(theme.menu[i]) ? 'current' : '' %>">
            <%= __(i) %>
          </a>
          <% } %>
          <a href="#" class="search-box">
            <span class="iconfont icon-sousuo"></span>
          </a>
        </div>
        <div class="bottom">
          <div class="follow">
            <% for (var f in theme.follow) { %>
            <a href="<%= theme.follow[f] %>" target="_block">
              <span class="iconfont icon-<%= f %>"></span>
            </a>
            <% } %> <% if (theme.rss) { %>
            <a href="<%= theme.rss %>" target="_block">
              <span class="iconfont icon-rss"></span>
            </a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div id="container">
      <div class="main animated bounceInRight delay-0.7s">
        <%- body %>
        <footer>
          <div class="copyright">
            ©<%= moment().format('YYYY') %>
            <a href="<%= config.url %>"><%= config.author %></a> Powered by <a href="https://hexo.io">Hexo</a> |
            <a href="https://github.com/shixiaohu2206/hexo-theme-huhu">hexo-theme-huhu</a>
          </div>
          <% if (theme.site_icp) { %>
          <div class="icp">
            <%= theme.site_icp %>
          </div>
          <% } %>
        </footer>
      </div>
    </div>
  </body>
  <%- gtm_noscript() %>
</html>
<%- huhu_config() %> <%- init_app() %> <%- baidu_push()%> <%- changyan()%>
