<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="baidu-site-verification" content="vvVgSQUzPU" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="keywords" content="<%= config.keywords%>" />
    <meta name="description" content="<%= config.description%>" />
    <title><%= config.title%></title>
    <%- css('style/style') %> <%- css('style/viewer.css') %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.3.6/viewer.min.css"
    />
  </head>

  <body>
    <div class="head">
      <% for (var i in theme.menu){ %>
      <a href="<%- url_for(theme.menu[i]) %>">
        <%= __(i) %>
      </a>
      <% } %>
    </div>
    <div id="container">
      <div id="main">
        <div class="navbar">
          <div class="toggle">
            <i class="icon-align-right"></i>
          </div>
          <div class="search">
            <div class="input-warp">
              <i class="icon-search"></i>
              <input type="text" name="" id="" placeholder="Search Keys" />
            </div>
          </div>
        </div>
        <div class="content">
          <%- body %>
        </div>
      </div>
      <div id="card">
        <div class="logo-widget">
          <div class="author">
            Utone
          </div>
          <div
            class="logo"
            style="background-image: url('/images/logo.jpeg')"
          ></div>
        </div>
        <div class="locate-widget">
          <i class="icon-location"></i>
          <span>上海</span>
          <span>多云</span>
        </div>
        <div class="follow-widget">
          <% for (var f in theme.follow){ %>
          <a href="<%= theme.follow[f] %>" target="_block"
            ><i class="icon-<%= f %> "></i
          ></a>
          <% } %> <% if (theme.rss) { %>
          <a href="<%= theme.rss %>" target="_block"
            ><i class="icon-rss"></i
          ></a>
          <% } %>
        </div>
        <% if (is_post()) { %>
        <div class="toc-widget">
          <div class="title">
            <span>Toc</span>
          </div>
          <div class="post-toc">
            <%- toc(page.content, {list_number: false}) %>
          </div>
        </div>
        <% } %>
        <div class="category-widget">
          <div class="title">
            <span>Categories</span>
            <span><a href="/archives">···</a></span>
          </div>
          <div class="list">
            <ul>
              <% site.categories.each(function (c, k) { %> <% if ( k <
              theme.categories_max) { %>
              <li>
                <a href="<%- url_for(c.path) %>">
                  <%= c.name %>
                </a>
              </li>
              <% } %> <% }) %>
            </ul>
          </div>
        </div>
        <div class="tag-widget">
          <div class="title">
            <span>Tag Cloud</span>
            <span><a href="">···</a></span>
          </div>
          <div class="tag-cloud">
            <%- tagcloud({ min_font: 13, max_font: 20, amount: 15, color: true,
            start_color: '#4a4a4a', end_color: '#4a4a4a'}) %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<% if (theme.busuanzi) { %>
<script
  async
  src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"
></script>
<% } %>
<!-- <script src="https://www.tianqiapi.com/api/?version=v6&callback=weathCb"></script> -->
<%- js('scripts/jquery.js') %> <%- js('scripts/viewer.js') %>
<%-js('scripts/index.js') %>
