<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="baidu-site-verification" content="vvVgSQUzPU" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="keywords" content="虎虎|博客|个人|utone|Utone|" />
    <meta name="description" content="骑士恨煎蛋，骑士恨孜然" />
    <title> </title>
    <%- css('style/style') %>
  </head>
  <body>
    <div class="header-bg"></div>
    <header>
      <div class="logo">utone</div>
      <ul>
        <% for (let i in theme.menu) { %>
        <li><a href="<%- url_for(theme.menu[i]) %>"> <%= __(i) %> </a></li>
        <% } %>
      </ul>
    </header>
    <div class="banner">
      <div class="bg"></div>
      <% if (is_post() || is_current('about')){ %>
      <div class="post-content">
        <div class="title">
          <%- page.title %>
          <div class="date"><%- date(page.date, "YYYY/MM/DD") %></div>
        </div>
      </div>
      <div class="post-actions">
        <a href="javascript:void(0);">分享</a>
        <a href="#SOHUCS">评论(<span id="changyan_count_unit"></span>)</a>
      </div>
      <% } %>
      <% if (is_archive()){ %>
        <div class="post-content">
          <div class="title">
            <%= __('archives')  %>
            <div class="date"><%- date(page.date, "YYYY/MM/DD") %></div>
          </div>
        </div>
      <% } %>
      <% if (is_home()){ %>
        <div class="post-content">
          <div class="title">
            <%= __('home')  %>
            <div class="date"><%- date(page.date, "YYYY/MM/DD") %></div>
          </div>
        </div>
      <% } %>
    </div>
    <div class="container">
      <%- body %>
    </div>
    <footer>
      <div class="products">
        <div class="l">
          <div class="title">Friendship</div>
          <ul>
              <% for (let i in theme.site_friends) { %>
                <li><a href="<%- url_for(theme.site_friends[i]) %>" target="_blank"><%= i %></a></<li>
              <% } %>
          </ul>
        </div>
        <div class="r">
          <div class="title">Follow me</div>
          <ul>
            <li><a href=""><embed src="/svg/github-fill.svg" class="svg" type="image/svg+xml" /></a></li>
            <li><a href=""><embed src="/svg/weibo-circle-fill.svg" class="svg" type="image/svg+xml" /></a></li>
            <li><a href=""><embed src="/svg/QQ-circle-fill.svg" class="svg" type="image/svg+xml" /></a></li>
            <li><a href=""><embed src="/svg/facebook-fill.svg" class="svg" type="image/svg+xml" /></a></li>
            <li><a href=""><embed src="/svg/dingtalk-circle-fill.svg" class="svg" type="image/svg+xml" /></a></li>
            <li><a href=""><embed src="/svg/wechat-fill.svg" class="svg" type="image/svg+xml" /></a></li>
          </ul>
        </div>
      </div>
      <div class="statist">
        <ul>
          <li>
            <div>206,911</div>
            <div>点击量</div>
          </li>
          <li>
            <div>206,911</div>
            <div>评论总数</div>
          </li>
        </ul>
      </div>
      <div class="copyright">
        <div class="l">
          © <%- date(new Date(), "YYYY") %> <%= theme.site_icp %>
        </div>
      </div>
    </div>
  </body>
</html>
<%- js('scripts/header.js') %>
<script type="text/javascript" src="https://assets.changyan.sohu.com/upload/plugins/plugins.count.js">
</script>