<article class="post-entry">
    <div class="header">
      <div class="title"><%- page.title %></div>
      <div class="date">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-calendar"></use>
          </svg>
        <%- date(page.date, "YYYY/MM/DD") %>
      </div>
      <!-- id 将作为查询条件 -->
      <span id="<Your/Path/Name>" class="leancloud-visitors" data-flag-title="<%- page.title %>">
        <span class="post-meta-item-text">阅读量 </span>
        <i class="leancloud-visitors-count"></i>
      </span>
    </div>
    <%- page.content %>

  <% if (theme.changyan.appid && theme.changyan.conf) { %>
    <!--畅言PC和WAP自适应版-->
    <div class="changyan">
      <div id="SOHUCS" sid="<%- date(page.date, "YYYY/MM/DD") %>/<%- page.title %>"></div>
    </div>
  <% } %>

  <div id="comment"></div>
</article>
