<article class="post-entry">
    <div class="header">
      <div class="title"><%- page.title %></div>
      <div class="date">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-calendar"></use>
          </svg>
        <%- date(page.date, "YYYY/MM/DD") %>
      </div>
    </div>
    <%- page.content %>
  <!--畅言PC和WAP自适应版-->
  <% if (theme.changyan.appid && theme.changyan.conf) { %>
  <div id="SOHUCS" sid="<%- date(page.date, "YYYY/MM/DD") %>/<%- page.title %>"></div>
  <script type="text/javascript">
    ;(function() {
      var appid = "<%= theme.changyan.appid %>"
      var conf = "<%= theme.changyan.conf %>"
      var width = window.innerWidth || document.documentElement.clientWidth
      if (width < 960) {
        window.document.write(
          '<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' +
            appid +
            "&conf=" +
            conf +
            '"><\/script>'
        )
      } else {
        var loadJs = function(d, a) {
          var c =
            document.getElementsByTagName("head")[0] ||
            document.head ||
            document.documentElement
          var b = document.createElement("script")
          b.setAttribute("type", "text/javascript")
          b.setAttribute("charset", "UTF-8")
          b.setAttribute("src", d)
          if (typeof a === "function") {
            if (window.attachEvent) {
              b.onreadystatechange = function() {
                var e = b.readyState
                if (e === "loaded" || e === "complete") {
                  b.onreadystatechange = null
                  a()
                }
              }
            } else {
              b.onload = a
            }
          }
          c.appendChild(b)
        }
        loadJs("https://changyan.sohu.com/upload/changyan.js", function() {
          window.changyan.api.config({ appid: appid, conf: conf })
        })
      }
    })()
  </script>
  <% } %>
</article>
